/*index - hero and image*/
@use "../base/funcionalidades";
video{ 
    margin-top: 5px;
    height: 300px;
    width: 100%;
    object-fit: cover;        
}


/* about the services cta buy and details*/
.product {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50%;
    margin: 50px;

    img {
        height: 40vh;
        width: auto;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }

    div {
        font-size: 18px;
        color: $color_base;
        text-align: left;
        padding: 20px;
        margin-left: 10px;

        p {
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 1;
        }
    }

    .button1,
    .button2 {
        @extend %boton;
    }

    .button1 {
        background-color: $color_detalles;
        border: 1px solid black;
        list-style: none;
        margin-right: 40px;
        color: #060709;
        font-size: 18px;

        &:hover {
            background-color: $hover_claro;
        }
    }

    .button2 {
        background-color: $color_base;
        color: $color_detalles;
        border: 1px solid black;
        list-style: none;
        font-size: 18px;

        &:hover {
            background-color: $hover_oscuro;
        }
    }
}

/*CONSULTATION*/
.consultation {
    text-align: center;
    font-size: 25px;
    font-weight: 30px;
    margin: 50px;
    background-color: $color_base;
    color: $color_detalles;
    padding: 30px;
    width: 93%;
}

.steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px;
    div{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 40%;
        img {
            height: 180px;
            width: auto;
            border-radius: 10px; 
        }
        p{
            font-size: 20px;
            color: $color_base;
            line-height: 5px;
        }       
    }
}

.contenedor-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    .location{
        text-align: center;
        color: $color_base;
    } 
}