/*details*/
.top_pict {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../img/under_water.jpg);
    background-size: cover;
    background-position: center 55%;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 30px;

    p {
        color: #F0E9E9;
        text-align: right;
        font-size: 24px;
        text-shadow: 1px 1px 2px black;
        padding: 10px;
        margin-bottom: 0px !important;
    }
}

.title-services {
    text-align: center;
    margin-top: 40px;
}

.list-of-services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;

    div {
        &:nth-child(n) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }

        .services-list {
            width: 200px;
            height: auto;
            margin-right: 30px;
        }

        p {
            &:nth-child(n) {
                width: 60%;
            }
        }
    }
}
